In [1]:
import pymysql
import pandas as pd

In [2]:
db=pymysql.connect(host='californiatrafficcollisions.c8k33vneqnyf.us-west-1.rds.amazonaws.com',user='admin',password='admin1234')

In [3]:
cursor = db.cursor();

#### Show Databases in awsrds

In [4]:
cursor.execute('show databases;');
show_db=cursor.fetchall();
print(show_db);

(('cal_road_accident_aws',), ('information_schema',), ('mysql',), ('performance_schema',), ('sys',))

#### Select query on collision table

In [5]:
cursor.execute('select case_id from cal_road_accident_aws.collisions limit 5');

select_collision=cursor.fetchall();
dataframe_collision= pd.DataFrame(select_collision, columns=['case_id']);
print(dataframe_collision);

    case_id
0   8008500
1   8008532
2   8008550
3  80972854
4  80976438

#### Select query on parties table

In [6]:
cursor.execute('select case_id,party_number,party_sobriety,cellphone_in_use,hazardous_materials,cellphone_use_type from cal_road_accident_aws.parties limit 5');
select_parties=cursor.fetchall();
dataframe_parties=pd.DataFrame(select_parties, columns=['case_id','party_number','party_sobriety','cellphone_in_use','hazardous_materials','cellphone_use_type']);
print(dataframe_parties);

   case_id  party_number                      party_sobriety  \
0  0081715             1                      not applicable
1  0081715             2                      not applicable
2  0726202             1                  impairment unknown
3  8008483             1  had been drinking, under influence
4  8008483             2                      not applicable

   cellphone_in_use hazardous_materials    cellphone_use_type
0               0.0                None  cellphone not in use
1               0.0                None  cellphone not in use
2               NaN                None                  None
3               0.0                None  cellphone not in use
4               NaN                None                  None

#### Select query on victims

In [7]:
cursor.execute('SELECT id, case_id,party_number, victim_role, victim_sex, victim_age FROM cal_road_accident_aws.victims limit 5;');
select_victims=cursor.fetchall();
dataframe_victims=pd.DataFrame(select_victims, columns=['id', 'case_id','party_number', 'victim_role', 'victim_sex', 'victim_age']);
print(dataframe_victims);

        id  case_id  party_number victim_role victim_sex victim_age
0  3078083  8008484             2      driver       male         33
1  3078084  8008484             2   passenger       male       None
2  3078087  8008488             2      driver       male         26
3  3078088  8008488             2   passenger     female         26
4  3078090  8008491             1      driver     female         34

#### Analysis on sobriety of parties consuming alcohol

In [8]:
cursor.execute('select c.alcohol_involved ,p.party_sobriety , count(*) from cal_road_accident_aws.collisions c join cal_road_accident_aws.parties p on c.case_id=p.case_id where c.alcohol_involved=1  group by c.alcohol_involved ,p.party_sobriety;');
select_output=cursor.fetchall();
dataframe_analysis_result=pd.DataFrame(select_output, columns=['alcohol_involved','party_sobriety','no. of collisions']);
print(dataframe_analysis_result);

   alcohol_involved                          party_sobriety  no. of collisions
0                 1      had been drinking, under influence               5069
1                 1                          not applicable               2311
2                 1                   had not been drinking               3314
3                 1                                    None                324
4                 1   had been drinking, impairment unknown               1253
5                 1  had been drinking, not under influence                874
6                 1                      impairment unknown                225